/*Estilos para el toggler hamburguer style*/


.navbar-toggler{
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;

   
}


.navbar-toggler span{
    margin: 0;
    padding: 0;

}

.toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}



/*animacion Cuando se pincha en navegacion*/

.navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg);
}


.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}


.navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
}



/*animacio cuando el toggler es colapsado*/

.navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
}






/*Eliminación de las líneas por defecto del focus de bootstrap*/


.navbar-toggler:focus {
    /*Below line will remove the border from the icon
    I have used bootstrap icon here */
    /* This will only remove the shadow effect */
    /* Border is still there */
    /* if you don't want any border then set the property equals to zero */
    border: 0 !important;
    box-shadow: none !important;
  
    /* This will remove the rounded corner(radious-border)
    and give square border */
    /* border-radius: 0 !important; */    
}

.navbar-toggler {
    /* This will completely remove border from the icon */
    /* If you need border for the icon then comment this code */
     border: 0 !important;

    /* if you want to check the border please uncomment below code */
    /* border-color: yellow !important; */
}